################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotNet_Lab_Guide_Phase1
/EBooks/0.8 eBooks
/dot-net-courseoneprojects
/DotNet_Lab_Guide_Phase1.zip
/assingmentOne
/EBooks.zip
